<div class="homeContainer">

    <!-- hero starts here -->
    <div class="hero">
        <div class="backgroundImage">
            <img src="/assets/images/background.png" alt="backgroundImage">
            <img src="/assets/images/gradient.png" alt="">
        </div>
        <div class="heroHeading">
            Empower Your Learning <br> Journey with our <br> Integrated Platform
        </div>
        <div class="heroText">
            Transform the way you learn and collaborate with our comprehensive EdTech solution. <br>
            Connect with peers, access personalized resources, and excel in your academic pursuits like never before.
        </div>
        <div class="heroButton">
            <button class="GetStartedBtn">Get Started</button>
            <button class="loginBtn">Sign in</button>
        </div>
    </div>
    <!-- hero ends here -->
</div>