<div class="homeContainer">

    <!-- hero starts here -->
    <div class="hero">
        <div class="backgroundImage">
            <img src="/assets/images/background.png" alt="backgroundImage">
            <img src="/assets/images/gradient.png" alt="">
        </div>
        <div class="heroHeading">
            Empower Your Learning <br> Journey with our <br> Integrated Platform
        </div>
        <div class="heroText">
            Transform the way you learn and collaborate with our comprehensive EdTech solution. <br>
            Connect with peers, access personalized resources, and excel in your academic pursuits like never before.
        </div>
        <div class="heroButton">
            <button class="GetStartedBtn">Get Started</button>
            <button class="loginBtn">Sign in</button>
        </div>
    </div>
    <!-- hero ends here -->

    <!-- features starts here -->
    <div class="features">
        <div class="featureHeading">
            Features
        </div>
        <div class="featureCards">
            <div class="featureCard">
                <div class="featureCardHeading">
                    Personalized Learning
                </div>
                <div class="featureCardText">
                    Access a wide range of resources tailored to your learning needs and preferences.
                </div>
            </div>
            <div class="featureCard">
                <div class="featureCardHeading">
                    Collaborative Learning
                </div>
                <div class="featureCardText">
                    Connect with peers, share knowledge, and collaborate on projects in real-time.
                </div>
            </div>
            <div class="featureCard">
                <div class="featureCardHeading">
                    Interactive Learning
                </div>
                <div class="featureCardText">
                    Engage in interactive learning activities and quizzes to enhance your understanding.
                </div>
            </div>
        </div>
    </div>
    <!-- features ends here -->

    <!-- Newsletter section -->
    <div class="newsletter">
        <img src="/assets/images/background.png" alt="backgroundImage">
        <div class="newsletterContent">
            <div class="newsletterHeading">
                Subscribe to our Newsletter
            </div>
            <div class="newsletterText">
                Stay updated with the latest news, events, and resources from EdVenture by subscribing to our newsletter.
            </div>
            <div class="newsletterForm">
                <input type="email" placeholder="Enter your email address">
                <button class="subscribeBtn">Subscribe</button>
            </div>
        </div>
    </div>
</div>