<app-dashboard-nav></app-dashboard-nav>
<div id="resourcespage">
    <div id="resourcesheading">
        Resources
    </div>
    <div id="resources">
        <div class="resource">
            <div class="resourceimg">
                <img class="image" src="assets/images/html_images.jpeg" alt="HTML">
            </div>
            <div class="resourceheading">
                HTML
            </div>
            <div class="resourcedescription">
                HTML is the standard markup language for creating web pages and web applications. It provides the
                structure for web content by using a system of tags and attributes to define various elements such as
                headings, paragraphs, images, links, and more.
            </div>
        </div>

        <div class="resource">
            <div class="resourceimg">
                <img class="image" src="assets/images/css_image.jpeg" alt="CSS">
            </div>
            <div class="resourceheading">
                CSS(Cascading Style Sheets)
            </div>
            <div class="resourcedescription">
                CSS is a style sheet language used to describe the presentation of a document written in HTML. It
                controls the layout, colors, fonts, and overall appearance of web pages, allowing developers to style
                HTML elements to create visually appealing and responsive designs.
            </div>
        </div>

        <div class="resource">
            <div class="resourceimg">
                <img class="image" src="assets/images/javascript2.png" alt="JavaScript">
            </div>
            <div class="resourceheading">
                JavaScript
            </div>
            <div class="resourcedescription">
                JavaScript is a versatile programming language commonly used for client-side web development. It enables
                interactive and dynamic features on web pages, such as user input validation, DOM manipulation,
                asynchronous requests (AJAX), and much more. JavaScript is essential for creating modern, interactive
                web applications.
            </div>
        </div>

        <div class="resource">

            <div class="resourceimg">
                <img class="image" src="assets/images/tailwind.jpeg" alt="Angular">
            </div>
            <div class="resourceheading">
                Tailwind CSS
            </div>
            <div class="resourcedescription">
                Tailwind CSS is a utility-first CSS framework that provides a set of pre-designed, atomic-level utility
                classes to streamline the process of building user interfaces. It allows developers to rapidly prototype
                and customize designs without writing custom CSS, by applying classes directly to HTML elements to
                define styling, layout, and behavior.
            </div>
        </div>

        <div class="resource">
            <div class="resourceimg">
                <img class="image" src="assets/images/java_image.webp" alt="Angular">
            </div>
            <div class="resourceheading">
                Java
            </div>
            <div class="resourcedescription">
                Java is a widely-used, high-level programming language known for its portability, security, and
                robustness. It is commonly used for developing server-side applications, web applications, Android
                mobile apps, and enterprise software. Java's object-oriented nature and extensive libraries make it a
                popular choice for building scalable and maintainable software solutions.
            </div>
        </div>

    </div>
</div>

<div class="resource-header">
    <div class="resourceDes">
        Community Resources
    </div>
    <div>
        <button class="resource-button">Create Resource</button>
    </div>
</div>
<div class="resource-container">
    <div class="res1">
        <img src="https://media.geeksforgeeks.org/wp-content/cdn-uploads/20221222184908/web-development1.png"
            alt="Image description">
        <div class="content">
            <h2>What are some best practices for optimizing website performance?</h2>
            <hr>
            <br>
            <p>Some best practices for optimizing website performance include minimizing HTTP requests, optimizing
                images and multimedia content, leveraging browser caching, minimizing and minifying CSS and JavaScript
                files, using asynchronous loading....</p>
        </div>
    </div>
    <div class="res1">
        <img src="https://imageio.forbes.com/specials-images/imageserve/645b3eca0059191fb09c02fa/15-Amazing-Real-World-Applications-Of-AI-Everyone-Should-Know-About/960x0.jpg?height=400&width=711&fit=bounds"
            alt="Image description">
        <div class="content">
            <h2>What are some key applications of artificial intelligence in various industries?</h2>
            <hr>
            <br>
            <p>Artificial intelligence is being used in various industries for applications such as predictive
                analytics, natural language processing (NLP), computer vision, autonomous vehicles, virtual assistants,
                healthcare diagnostics, fraud detection, and....
            </p>
        </div>
    </div>
    <div class="res1">
        <img src="https://lh4.googleusercontent.com/proxy/NMybxZe1eKmL1TeTCklX_gI2kruQZTAJp2RB8ixWyac27lwvDugun7f973nqynpFqFkwKhJ9q6V3IxX488oxAQtoLU7jDrUoSrzaKD0E3d03-WoV-RWkdhhtxPeTj08"
            alt="Image description">
        <div class="content">
            <h2>What is deep learning and what are some common architectures used in deep neural networks?
            </h2>
            <hr>
            <br>
            <p> Deep learning is a subset of machine learning that involves neural networks with multiple layers (deep
                architectures). Common architectures used in deep learning include convolutional neural networks (CNNs)
                for image recognition tasks, recurrent neural networks (RNNs) for sequential data, and ....
            </p>
        </div>
    </div>
</div>