<div class="footerContainer">
    <div class="leftContainer">
        <div class="mediumText">
            HEY DROP US A LINE
        </div>
        <div class="largeText">
            info&#64;edventure.io
        </div>

        <div class="copyrightContainer">
            <div class="logoSquare">
                <span class="material-symbols-outlined">
                    import_contacts
                </span>
            </div>
            <div class="smallText">
                &copy; 2024 EdVenture. All rights reserved.
            </div>
        </div>
    </div>

    <div class="centerContainer">
    </div>

    <div class="rightContainer">
<div class="backtotop">
    <span class="material-symbols-outlined">
        arrow_upward
        </span>
    <p>Back to top</p>
</div>
    </div>
</div>