
    <div class="chat-container">
        <div class="left">
            <div class="leftTopBar">
                <div id="leftUserIconMain"></div>
                <div id="leftUsername"></div>
            </div>
            <div class="leftMidBar"></div>
            <div class="leftBottomBar"></div>
        </div>

        <div class="right">
            <div class="rightTopBar">
                <div id="rightUserIconMain"></div>
                <div id="rightUsername"></div>
            </div>
            <div class="rightBottomBar"></div>
        </div>
    </div>
