<div class="chat-container">
    <div class="left">
        <div class="leftTopBar">
            <div id="leftUserIconMain">
                <img src="/assets/images/model1.jpeg" alt="">
            </div>
            <div id="leftUsername">
                <div class="name">
                    Harshit Shukla
                </div>
                <div class="status">
                    <div class="dot"></div>
                    <div class="text">Online</div>
                </div>
            </div>
        </div>
        <div class="leftMidBar">
            <div class="topbar">
                <div class="heading">Your Communities</div>
                <div class="sub">
                    <div class="text1">Recent Chats</div>
                    <div class="text2"><a href="#">See all</a></div>
                </div>
            </div>
            <div class="groupContainer">
                <div class="logo"></div>
                <div class="name">Python</div>
            </div>
            <div class="groupContainer">
                <div class="logo"></div>
                <div class="name">Node</div>
            </div>
            <div class="groupContainer">
                <div class="logo"></div>
                <div class="name">Angular</div>
            </div>
            <div class="groupContainer">
                <div class="logo"></div>
                <div class="name">C++</div>
            </div>
            <div class="groupContainer">
                <div class="logo"></div>
                <div class="name">Java</div>
            </div>
        </div>
    </div>

    <div class="right">
        <div class="rightTopBar">
            <div id="rightUserIconMain">
                <img src="/assets/images/model2.jpeg" alt="">
            </div>
            <div id="rightUserName">Trishank Kaushik</div>
        </div>
        <div class="chatContent" >
                <div class="chatMessage" *ngFor="let message of messages">
                    <p [ngClass]="{ 'sendMessage': message.sentBy === loggedInUsername, 'receiveMessage': message.sentBy !== loggedInUsername }">
                        {{ message.sentBy }}: {{ message.content }}
                    </p>
                </div>
        </div>
        <div class="rightBottomBar">
            <div class="mediaIcons">
                <span class="material-symbols-outlined">
                    add
                </span>
                <span class="material-symbols-outlined">
                    attach_file
                </span>
                <span class="material-symbols-outlined">
                    photo_camera
                </span>
            </div>
            <div class="inputBox">
                <input type="text" [(ngModel)]="content" placeholder="Type a message">
            </div>
            <div class="sendIcon">
                <span class="material-symbols-outlined" (click)="sendMessage()">
                    send
                </span>
            </div>
        </div>
    </div>
</div>