<app-nav></app-nav>

<div class="aboutContainer">
    <div id="centering">
        <div id="about_us">About Us</div>
        <div id="about_para">Welcome to EdVenture, where we're dedicated to revolutionizing the way students learn and
            collaborate.
            Our mission is to empower learners of all backgrounds to achieve their academic goals and unlock their
            full potential through innovative technology and collaborative learning experiences.</div>
        <img src="/assets/images/design1.png" alt="" id="design1">
        <img src="/assets/images/design2.png" alt="" id="design2">

        <div class="storyParentContainer">
            <div id="story">
                <div id="our_story">
                    Our Story
                </div>
                <div id="story_para">
                    EdVenture was founded with a vision to bridge the gap between traditional
                    education and modern learning needs. Our journey began with a passion for education and
                    a desire to create a platform that enhances the learning experience for students worldwide.
                    Since our inception, we've been committed to developing cutting-edge solutions that address
                    the evolving needs of learners in today's digital age.
                </div>
            </div>
            <div id="What_we_do">
                <div id="what">
                    What We Do ?
                </div>
                <div id="what_para">
                    At EdVenture, we offer a comprehensive suite of tools and resources designed to
                    facilitate collaborative learning, foster academic excellence, and promote personal
                    growth. From peer tutoring networks to interactive lecture annotations, we provide a
                    holistic approach to education that empowers students to succeed both inside and
                    outside the classroom.
                </div>
            </div>
        </div>
        <div id="our_team">
            Our Team
        </div>
        <div id="team_para">
            Behind EdVenture stands a talented team of dedicated developers, each bringing their unique skills and
            expertise to the table.
            Meet the individuals who are instrumental in bringing our vision to life:
        </div>

        <div class="teamMembers">
            <div id="member1">
                <div id="name1">
                    Tamanna
                </div>
                <div id="intro1">
                    Tamanna is a seasoned developer with
                    a passion for building robust, scalable
                    systems. Her proficiency in frontend
                    development and dedication to crafting
                    elegant solutions enrich the user experience
                    and bring our platform to life.
                </div>
            </div>
            <div id="member2">
                <div id="name2">
                    Arpita Agrahari
                </div>
                <div id="intro2">
                    Arpita is a versatile developer with a knack
                    for creating intuitive user experiences.
                    Her creative approach to design and
                    commitment to user-centric development
                    ensure that our platform remains
                    user-friendly and accessible to all.
                </div>
            </div>
    
            <div id="member3">
                <div id="name3">
                    Harshit Shukla
                </div>
                <div id="intro3">
                    With a passion for coding and a keen
                    eye for detail, Harshit brings a wealth of
                    experience in software development to
                    our team. His commitment to excellence
                    and innovative problem-solving drive our
                    platform's technical advancements.
                </div>
            </div>
            <div id="member4">
                <div id="name4">
                    Trishank Kaushik
                </div>
                <div id="intro4">
                    Trishank's expertise lies in backend
                    development and system architecture.
                    With a meticulous approach to coding and
                    a focus on scalability and performance, he
                    plays a pivotal role in ensuring the reliability
                    and efficiency of our platform.
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>