*{
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}
.resource-header{
    display: flex;
    justify-content: space-between;
}
.resourceDes{
    margin-top: 170px;
    margin-left: 55px;
    font-size: 48px;
    font-weight: 500;
}
.resource-button{
    box-sizing: border-box;
    height: 40px;
    padding: 0 10px;
    border: 1px solid hsl(0, 0%, 30%);
    border-radius: 3px;
    color: black;
    background-color:#7BB8FF;
    font-family: var(--typeface-mono);
    font-size: 14px;
    border-radius: 7px;
    margin-top: 100px;
    margin-left: 10px;
    cursor: pointer;
}
.resource-container {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid grey;
    margin: auto;
}
.res1 {
    display: flex;
    align-items: start;
    margin-bottom: 20px;
}

.res1 img {
    border-radius: 5px;
    width: 300px; 
    height: 175px;
    margin: 5px;
}

.res1 .content {
    color: grey;
    flex-grow: 1;
    margin-top: 7px;
    overflow-wrap: break-word;

}
.content{
    margin-left: 15px;
}
.res1:hover{
    background-color: rgb(51, 50, 50);
    border-radius: 7px;
    transition: 0.3s ease-in-out;

}
.content h2{
    margin: 0px;
    font-size: 24px;
    font-weight: 500;
    width: 90%;
    color: white;
}
.content p{
    overflow: word-wrap;
    width: 75%;
}