<div clas="description">
    <h2>Your Communities</h2>
</div>
<!-- <div class="Community-container">
     <div class="searchBar">
        <input name="Search your Communit" type="text" placeholder="Search your Community" class="searchInput">
        <span class="material-symbols-outlined search-icon" >
            search
        </span>
    </div> -->
    <!-- <div class="column1">hey </div>
    <div class="column2">hey</div>
    <div class="column3">hey</div>
    <div class="column4">hey</div>
    <div class="column5">hey</div>
    <div class="column6">hey</div>
</div> -->

<div class="community-container">
    <div class="community-header">
        <div class="filter-container">
            <span class="material-symbols-outlined">
                filter_list
                </span>
            <p>Filter</p>
        </div>
        <div class="search-container">
        <input type="text" placeholder="Search...">
        <span class="material-symbols-outlined search-icon">search</span>
    </div>
    </div>
    <div class="column1">
        <i class="material-icons">Icon</i>
        <p>Community 1</p>
    </div>
    <div class="column2">
        <i class="material-icons">Icon</i>
        <p>Community 2</p>
    </div>
    <div class="column3">
        <i class="material-icons">Icon</i>
        <p>Community 3</p>
    </div>
    <div class="column4">
        <i class="material-icons">Icon</i>
        <p>Community 3</p>
    </div>
    <div class="column5">
        <i class="material-icons">Icon</i>
        <p>Community 3</p>
    </div>
    <div class="column6">
        <i class="material-icons">Icon</i>
        <p>Community 3</p>
    </div>
    <div class="column7">
        <i class="material-icons">Icon</i>
        <p>Community 3</p>
    </div>
    <div class="column8">
        <i class="material-icons">Icon</i>
        <p>Community 3</p>
    </div>
    
</div>