<div class="signupContainer">
    <img src="/assets/images/background.png" alt="">
    <div class="mainContent">
        <div class="leftContainer">
            <div class="logoContainer">
                <div class="logoImage">
                    <div class="logoSquare">
                        <span class="material-symbols-outlined">
                            import_contacts
                        </span>
                    </div>
                </div>
                <div class="logoText">EdVenture</div>
            </div>

            <div class="heading">
                Login to Your Account
            </div>

            <div class="subText">
                New User? <a routerLink="/login"> SignUp</a>
            </div>
        </div>

        <div class="rightContainer">
            <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
                <input   type="email" placeholder="Email or username">
                <div class="password-container">
                    <input name="password"  [type]="hidePassword ? 'password' : 'text'" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,}">
                    <span class="material-symbols-outlined password-icon" (click)="hidePassword = !hidePassword">
                        {{hidePassword ? 'visibility' : 'visibility_off'}}
                    </span>
                </div>
                <div class="forgetContainer">
                    <a routerLink="/forgetpage">Forget Password?</a>
                 <button type="submit" [routerLink]="loginVerifier? '/dashboard' : null">Login</button>
                </div>
            </form>
            
        </div>


    </div>
