<div id="resourcespage">
<div id="resourcesheading">
    Resources
</div>
<div id="resources">
    <a href="#">
    <div class="resource">
        <div class="resourceimg">
            <img class="image" src="assets/images/html_images.jpeg" alt="HTML">
        </div>
        <div class ="resourceheading">
        HTML
    </div>
    <div class="resourcedescription">
         HTML is the standard markup language for creating web pages and web applications. It provides the structure for web content by using a system of tags and attributes to define various elements such as headings, paragraphs, images, links, and more.
    </div>
        </div>
    </a>
    <a href="#">
        <div class="resource">
            <div class="resourceimg">
                <img class="image" src="assets/images/css_image.jpeg" alt="CSS">
            </div>
            <div class ="resourceheading">
            CSS(Cascading Style Sheets)
        </div>
        <div class="resourcedescription">
            CSS is a style sheet language used to describe the presentation of a document written in HTML. It controls the layout, colors, fonts, and overall appearance of web pages, allowing developers to style HTML elements to create visually appealing and responsive designs.
        </div>
            </div>
        </a>
        <a href="#">
            <div class="resource">
                <div class="resourceimg">
                    <img class="image" src="assets/images/javascript2.png" alt="JavaScript">
                </div>
                <div class ="resourceheading">
                JavaScript
            </div>
            <div class="resourcedescription">
                JavaScript is a versatile programming language commonly used for client-side web development. It enables interactive and dynamic features on web pages, such as user input validation, DOM manipulation, asynchronous requests (AJAX), and much more. JavaScript is essential for creating modern, interactive web applications.
            </div>
                </div>
         </a>
         <a href="#">
            <div class="resource">
                
                <div class="resourceimg">
                    <img class="image" src="assets/images/tailwind.jpeg" alt="Angular">
            </div>
            <div class ="resourceheading">
            Tailwind CSS
        </div>
        <div class="resourcedescription">
            Tailwind CSS is a utility-first CSS framework that provides a set of pre-designed, atomic-level utility classes to streamline the process of building user interfaces. It allows developers to rapidly prototype and customize designs without writing custom CSS, by applying classes directly to HTML elements to define styling, layout, and behavior.
            </div>
            </div>
                
         </a>
         <a href="#">
            <div class="resource">
                <div class="resourceimg">
                    <img class="image" src="assets/images/java_image.webp" alt="Angular">
                </div>
                <div class ="resourceheading">
                Java
            </div>  
            <div class="resourcedescription">
                Java is a widely-used, high-level programming language known for its portability, security, and robustness. It is commonly used for developing server-side applications, web applications, Android mobile apps, and enterprise software. Java's object-oriented nature and extensive libraries make it a popular choice for building scalable and maintainable software solutions.
            </div>
                </div>
         </a>

</div>
</div>