<div id="resourcespage">
<div id="resourcesheading">
    Resources
</div>
<div id="resources">
    <a href="#">
    <div class="resource">
        HTML
        <div class="resource-description">
            HTML is the standard markup language for documents designed to be displayed in a web browser. It can be assisted by technologies such as Cascading Style Sheets and scripting languages such as JavaScript.
            </div>
        <div >
            <button class="upload-button">Upload</button>
        </div>
        </div>
    </a>
    <a href="#">
        <div class="resource">
            CSS(Cascading Style Sheets)
            </div>
        </a>
        <a href="#">
            <div class="resource">
                JavaScript
                </div>
         </a>
         <a href="#">
            <div class="resource">
                Tailwind CSS
                </div>
         </a>
         <a href="#">
            <div class="resource">
                Java  
                </div>
         </a>

</div>
</div>