<div id="resourcespage">
<div id="resourcesheading">
    Resources
</div>
<div id="resources">
    <a href="#">
    <div class="resource">
        HTML
        </div>
    </a>
    <a href="#">
        <div class="resource">
            CSS(Cascading Style Sheets)
            </div>
        </a>
        <a href="#">
            <div class="resource">
                JavaScript
                </div>
         </a>
         <a href="#">
            <div class="resource">
                Tailwind CSS
                </div>
         </a>
         <a href="#">
            <div class="resource">
                Java  
                </div>
         </a>

</div>
</div>