#contacting{
    align-items: center;
}
#contact_us{


position: absolute;
width: 50%;
height: 47px;
left: 40px;
top: 141px;

font-family: var(--typeface-sans);
font-style: normal;
font-weight: 600;
font-size: 50px;
line-height: 47px;
/* identical to box height */

color: #FFFFFF;


}
#contact_para{
    
   
position: absolute;
width: 630px;
height: 45px;
left: 40px;
top: 200px;

font-family: var(--typeface-sans);
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 17px;

color: #808080;



}
#contact_form{
    position: absolute;
    width: 50%;
}
#name {
    box-sizing: border-box;
    position: absolute;
    width: 583px;
    height: 87px;
    left: 40px;
    top: 285px;
    background: #000000;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    color: #FFFFFF;
    padding: 10px;
}
#email{
    

    box-sizing: border-box;
    
    position: absolute;
    width: 583px;
    height: 87px;
    left: 40px;
    top: 388px;
    
    background: #000000;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    color: #FFFFFF;
    padding: 10px;

}
#message{
    

    box-sizing: border-box;
    
    position: absolute;
    width: 584px;
    height: 284px;
    left: 40px;
    top: 491px;
    
    background: #000000;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    color: #FFFFFF;
    padding: 10px;
    
}
#submit{
    /* Rectangle 4 */

    position: absolute;
    width: 97px;
    height: 60px;
    left: 40px;
    top: 799px;
    font-size: 20px;
    
    background: #32FF10;
    border-radius: 7px;

}
#email::placeholder {
    font-size: 16px;
}

#message::placeholder {
    font-size: 16px;
}
#name::placeholder {
    font-size: 16px;
}

#bug {
    /* Rectangle 10 */

    box-sizing: border-box;
    padding: 12px;
    position: absolute;
    width: 590px;
    height: 160px;
    left: 659px;
    top: 284px;
    margin-left:20px;
    padding-top: 25px;
    
    background: rgba(26, 26, 26, 0.26);
    border: 1px solid #808080;
    backdrop-filter: blur(12.3px);
    border-radius: 10px;
    
}

#found_bug {
    position: relative; 
    width: 160px;
    height: 23px;
    font-family: var(--typeface-sans);
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 23px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

#found_bug_body {
    position: relative; 
    width: 530px;
    height: 56px;
    top: 10px;
    font-family: var(--typeface-sans);
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 14px;
    letter-spacing: 0.05em;
    color: #E6E6E6;
}
#icons{
 
    box-sizing: border-box;
    
    position: absolute;
    width: 590px;
    height: 99px;
    left: 659px;
    top: 494px;
    margin-left: 20px;
    background: rgba(26, 26, 26, 0.26);
    border: 1px solid #808080;
    backdrop-filter: blur(12.3px);
    border-radius: 10px;
}
#icon1, #icon2,#icon3{
    border-radius: 50%;
}
#appreciation {

    box-sizing: border-box;
    
    position: absolute;
    width: 590px;
    height: 66px;
    left: 659px;
    top: 644px;
    margin-left: 20px;
    padding: 10px;
    
    background: #000000;
    border: 1px solid #808080;
    border-radius: 10px;

}

#appreciation_body {
    position: static; 
    width: 550px; 
    height: 30px;
    font-family: var(--typeface-sans);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: #CCCCCC;
}
#designs1{
    position: absolute;
    
    width: 75px;
    height: 65px;
    left: 885.52px;
    top: 295px;

    transform: rotate(-23.01deg);

}
#designs2{

position: absolute;
width: 89px;
height: 78px;
left: 1111.32px;
top: 500px;
transform: rotate(-65.07deg);


}