<div id="contacting">
<div id="contact_us">
    Contact Us
</div>
<div id="contact_para">
    Thank you for your interest in our platform! If you have any questions, feedback, or inquiries, 
please don't hesitate to reach out to us using the contact information below. We're here to 
assist you and ensure you have a seamless experience with our platform.
</div>
<div id="boxes">
<div id="box2">
    <img src="/assets/images/vivid-blurred-colorful-background_58702-2554.jpg" alt="" id="designs1">
    <img src="/assets/images/design1.png" alt="" id="designs2">
<div id="bug">
    <div id="found_bug">
        Found a bug ?
    </div>
    <div id="found_bug_body">
        We value your feedback and strive to continuously improve our platform. If you encounter any issues or have suggestions for enhancements, please visit our GitHub repository and create an issue. Our development team will promptly address your concerns and work towards resolving any issues you may encounter.
    </div>
</div>
<div id="icons">
    <div id="icon1">
       
    </div>
    <div id="icon2">
    
    </div>
    <div id="icon3">
    </div>

</div>
<div id="appreciation">
    <div id="appreciation_body">
    We appreciate your contributions to improving our platform and thank you for helping 
us create a better learning environment for everyone.
</div>
</div>
</div>
<div id="box1">
<form id="contact_form">
    <input type="text" placeholder="Name" id="name" required>
    <input type="email" placeholder="Email" id="email" required>
    <textarea placeholder="Enter your message here...." id="message" required></textarea>
    <button type="submit" id="submit"><b>Send</b></button>
</form>
</div>
</div>
</div>
